

$primary-color: #ff6116;
$secondary-color: #11428e;
$other-color: #c2d8eb;
$another-color: rgb(252, 188, 160);

$logo-font: 'Caveat Brush', cursive;
$primary-font: 'Koulen', cursive;
$secondary-font: 'Nunito', sans-serif;