@import "../styles/variables";


.dashboard {
  background-image: url("../../public/images/inspiration-geometry.png");
  //display: flex;

  .container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: 5px;
    align-items: stretch;
    padding-bottom: 2em;
    
  }
}