@import "~bootstrap/scss/bootstrap";
@import "../styles/variables";

.landing_page {
  background-image: url("../../public/images/inspiration-geometry.png");
  min-height: 100vh;
  padding-top: 0.2em;


  .navbar_lp {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    .logo {
      margin-top: 1em;
      color: $primary-color;
      font-family: $logo-font;
      font-size: 3.5em;
      margin-left: 2.5em;
      cursor: pointer;
  
      i {
        color: $secondary-color;
        font-size: 0.3em;
        transform: scaleX(-1);
        //padding-top: 1.8em;
      }
    }

    .navbar_btn_lp {
      margin-top: 4.5em;
      margin-right: 12.5em;

      .login_and_register {
        width: 7em;
        height: 2.5em;
        background-color: $primary-color;
        color: #ffffff;
        font-family: $secondary-font;
        border: $another-color !important;
        font-weight: bold;
        font-size: 18px;
      }
    }

    .useless_links {
      margin-top: 4.5em;
      font-size: 18px;
      font-family: $secondary-font;
      font-weight: bold;
      margin-right: -30em;
      color: $primary-color;

      span {
        padding-left: 3.5em;
        cursor: pointer;

        &:hover {
          color: $secondary-color;
        }
      }
    }


  }

  .container_lp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-left: 2em;
    

    .catchphrase {
      margin-top: 0.5em;

      span {
        font-family: $secondary-font;
        font-size: 28px;
        font-weight: bolder;
        color: $secondary-color;
      }

      .getting_started {
        margin-top: 2.5em;

        .login_register {
          width: 10em;
          height: 2.5em;
          font-size: 18px;
          background-color: $another-color;
          color: white;
          font-family: $secondary-font;
          border: $another-color !important;
          font-weight: bold;
        }
      }
      
    }

    .landing_img {
      img {
        height: 35em;
      }
      height: 45em;
    }
  }
}
