@import "../styles/variables";

.container {
  margin-bottom: -1em;
  font-family: $secondary-font;
  

  .options {
    margin-left: 18em;
    margin-top: 1em;

    i {
      margin-left: 1em;
    }

    .fa-pen-to-square {
      color: $other-color;
      cursor: pointer;
    }

    .fa-trash {
      color: rgb(247, 122, 122);
      cursor: pointer;
    }
  }

  .one_card {
    border: 1px solid black;
    display: flex;
    //align-items: center;
    flex-direction: column;
    text-align: left;
    width: 25em;
    margin-top: 1em;
    flex-wrap: wrap;
    border-radius: 5px;
    padding-left: 2em;
    
  }

  .title {
    color: $primary-color;
    font-weight: bold;
    font-size: 18px;
  }

  .date {
    color: grey;
    font-size: 15px;
  }

  .long_url {
    border: 1px solid black;
    width: 21em;

    background: linear-gradient(
        to right,
        $primary-color,
        $primary-color 2rem,
        transparent 2rem,
        transparent 100%
      );

    i {
      padding-left: 0.3em;
      padding-top: 0.3em;
      border-right: 1px solid black;
      min-height: 1.5em;
      width: 2em;
    }
  }

  .short_url {
    margin-top: 0.5em;
    border: 1px solid black;
    width: 21em;
    //cursor: pointer;

    #tiny_url {
      cursor: pointer;
    }

    background: linear-gradient(
        to right,
        $primary-color,
        $primary-color 2rem,
        transparent 2rem,
        transparent 100%
      );

    i {
      padding-left: 0.3em;
      padding-top: 0.3em;
      border-right: 1px solid black;
      min-height: 1.5em;
      width: 2em;
    }

    .fa-copy {
      border-right: none !important;
      float: right;
      cursor: pointer;
      color: grey;
    }
  }

}