@import "../styles/variables";

.container {
  margin-bottom: -1em;

  .one_card {
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 25em;
    margin-top: 1em;
    flex-wrap: wrap;
    border-radius: 5px;
  }

}