@import "~bootstrap/scss/bootstrap";
@import "../styles/variables";

.shorten_url {
  border: 1px solid black;
  width: 30%;
  margin-left: 2em;
  margin-top: 2em;
  padding-bottom: 1em;
  text-align: center;

  .long_url_input {
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .short_url {
    padding-bottom: 1em;
  }
}