@import "~bootstrap/scss/bootstrap";
@import "../styles/variables";

.shorten_url {
  border: 1px solid black;
  width: 30%;
  margin-left: 2em;
  margin-top: 2em;
  padding-bottom: 1em;
  text-align: center;

  .long_url_input {
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .short_url {
    margin-bottom: 1em;
    border: 1px solid black;
    width: 13em;
    margin-left: 3em;
    cursor: pointer;

    &:hover {
      color: rgb(83, 173, 233);
    }
  }
}